  /*
  * Navbar
  */
  .checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
  }
  .checkbox-menu li input {
      margin: 0px 5px;
      top: 2px;
      position: relative;
  }

  .checkbox-menu li.active label {
      background-color: #cbcbff;
      font-weight:bold;
  }

  .checkbox-menu li label:hover,
  .checkbox-menu li label:focus {
      background-color: #f5f5f5;
  }

  .checkbox-menu li.active label:hover,
  .checkbox-menu li.active label:focus {
      background-color: #b8b8ff;
  }

  .custom-range {
    max-width: 30vh;
  }
  .custom-range p {
    padding-top: 0px;
  }

  @media (min-width: 768px) {
    .navbar-nav {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .nav-item {
      margin-left: 5vh;
      
    }
    .custom-range {
      padding: 0vh !important;
      margin-bottom: 0px !important;
    }
  }
  
  /*
  * Header
  */
  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .container {
    position: relative;
    z-index: 2;
  }

  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  @media (max-width: 1126px) {
    header {
      position: relative;
      background-color: black;
      height: 25vh !important;
      min-height: 15%;
      width: auto;
      overflow: hidden;
    }
  
    header video {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  /*
  * Games elements
  */

  .bg-rojo {
    background-color: red;
  }

  .container {
    margin-top: 5vh;
  }
  
  .col-lg-6 {
    margin-top: 5vh;
    
  }
  .card-block {
    max-width: 80%;
    height: 100%;
    max-height: 500px;
    border-radius: 21px 21px 0 0;
  }

  .card-img-bottom {
    max-height: 100%;
    padding-top: 0px;
    width: auto;
    border-radius: 21px 21px 0 0;
  }

  @media (max-width: 768px) {
    .card-block {
      max-width: 70%;
      height: 100%;
      max-height: 500px;
      border-radius: 21px 21px 0 0;
    }
  }
  
  /*
  * Dummy devices (replace them with your own or something else entirely!)
  */

  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }

  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

  /*
  * Extra utilities
  */
  .flex-equal > * {
    flex: 1;
  }

  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }